<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Detail Page</title>
</head>
<body>
    <h1><%= student.name %></h1>
    <ul>
        <li>age: <%= student.age %></li>
        <li>gender: <%= student.gender %></li>
    </ul>
    <a href="/students/<%= student._id %>/edit">Edit details</a>
    <a href="/students">All Students List</a>
</body>
</html>